[submodule "python-serial-ntp"]
	path = python-serial-ntp
	url = https://github.com/Rooholla-KhorramBakht/python-serial-ntp.git
[submodule "python-udp-ntp"]
	path = python-udp-ntp
	url = https://github.com/Rooholla-KhorramBakht/python-udp-ntp.git
